<!doctype html>
<html lang="en">
 <div class="p-3 mb-2 bg-info text-dark">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


    <style>

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
   display: block;
}
</style>
  </head>
  <title> Home</title>
  <body>

<form action='/'>
  <h1>This is our home page</h1>
<br>
we basically play with texts and are ready to help you
<br>
  please click this button if you want to proceed to main website
  <br>
  <button type="submit" class="btn btn-dark mt-2">Back</button>
  </form>
  <!-- Footer-->
<footer class="footer">
  <div class="container">
    <span class="text-light">© 2021 Textplay.in </span>
  </div>
</footer>
</form>

  </body>
</div>
</html>
